@model PL.ViewModels.ChatViewModel

@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-12">
            <div class="chat-box mt-5 d-flex align-items-center justify-content-center text-center" style="max-height: 600px; min-height: 600px; overflow-y: scroll; overflow-x: hidden;">
                @if (Model.MessageHistory.Count == 0)
                {
                    <h1 style="font-size: 3em;" class="text-muted">Write something...</h1>
                }
                @foreach (var message in Model.MessageHistory)
                {
                    <div class="row justify-content-@(message.SenderId == Model.CurrentUserId ? "end" : "start")">
                        <div class="col-auto mx-3 my-3">
                            <div class="card @(message.SenderId == Model.CurrentUserId ? "text-end" : "")">
                                <div class="card-body">
                                    @message.Content
                                </div>
                                <div class="card-footer text-muted small">
                                    @message.Timestamp
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <h2>New message</h2>
    <hr/>
    <div class="row">
        <div class="col-12">
            <form asp-controller="Chat" asp-action="SendMessage" method="post">
                <div class="mb-3">
                    <label class="custom-label" asp-for="ChatMessage.Content"></label>
                    <textarea rows="7" asp-for="ChatMessage.Content" style="border-radius: 15px;" class="form-control custom-border2"></textarea>
                </div>
                <div class="text-center">
                    @Html.HiddenFor(model => model.ChatMessage.ReceiverId)
                    <button type="submit" class="custom-button2">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>