@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PL.ViewModels.ChatViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="messageList"></div>
        </div>
        <div class="col-4">
            <input type="text" id="private-user" class="form-control" placeholder="Username" />
            <input type="text" id="private-message" class="form-control" placeholder="Message" />
            <button id="getHistoryButton" class="btn btn-primary">Get History</button>
            <button id="sendPrivateButton" class="btn btn-primary">Send</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6" id="messageList"></div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="~/js/Chats.js"></script>
}