@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PL.ViewModels.FeedbackViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container center-div">
    <div class="row justify-content-center">
        <div class="col-md-8 custom-border1 py-3 px-5">
            <h1 class="text-center">Contact Us</h1>
            <hr>
            <form asp-controller="Help" asp-action="SendFeedback" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label class="custom-label" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control custom-border2" />
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="Contact"></label>
                    <input asp-for="Contact" class="form-control custom-border2" />
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="Message"></label>
                    <textarea rows="6" asp-for="Message" class="form-control custom-border2"></textarea>
                </div>

                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="text-center">
                    <button type="submit" class="custom-button2">Send</button>
                </div>
            </form>
        </div>
    </div>


    <div class="row justify-content-center text-center mt-3">
        <div class="col-md-8 ">
            <h2>Contact Information</h2>
            <hr>
            <div class="mb-3">
                <label class="custom-label">Address:</label>
                <a class="custom-label custom-link">Prospect Nauki, 9A, Kharkiv, Ukraine </a>
            </div>
            <div class="mb-3">
                <label class="custom-label">Phone:</label>
                <a class="custom-label custom-link" href="tel:0502014596">(050)201-4596</a>
            </div>
            <div class="mb-3">
                <label class="custom-label">Email:</label>
                <a class="custom-label custom-link" href="mailto: oleksandr.miroshnychenko@hneu.net">oleksandr.miroshnychenko@hneu.net</a>
            </div>
        </div>
    </div>
</div>