@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PL.Enums
@model PL.ViewModels.UpdateUserViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container center-div" style="max-height: 80%; ">
    <div class="row justify-content-center">
        <div class="col-md-10 custom-border1 py-4 px-5 mb-5">
            <h1 class="text-center mb-3">Profile updating</h1>
            <form method="post" asp-controller="Account" asp-action="ProfileUpdate" method="post">
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.FirstName"></label>
                    <input asp-for="UserData.FirstName" class="form-control custom-border2" />
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.LastName"></label>
                    <input asp-for="UserData.LastName" class="form-control custom-border2" />
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.UserName"></label>
                    <input asp-for="UserData.UserName" class="form-control custom-border2" />
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.Email"></label>
                    <input asp-for="UserData.Email" class="form-control custom-border2" />
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.Age"></label>
                    <input min="18" max="100" asp-for="UserData.Age" class="form-control custom-border2" />
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.Gender"></label>
                    <select asp-for="UserData.Gender" asp-items="Html.GetEnumSelectList<GenderViewModel>()" class="form-control custom-border2 custom-select"></select>
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.Bio"></label>
                    <textarea rows="6" asp-for="UserData.Bio" class="form-control custom-border2"></textarea>
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.Interests"></label>
                    <select asp-for="SelectedInterests" asp-items="@(new SelectList(Model.UserData.Interests, "Id", "Name"))" class="form-control custom-border2 custom-select" multiple></select>
                </div>
                <div class="mb-3">
                    <label class="custom-label" asp-for="UserData.LookingForGender"></label>
                    <select asp-for="UserData.LookingForGender" asp-items="Html.GetEnumSelectList<GenderViewModel>()" class="form-control custom-border2 custom-select"></select>
                </div>
                <div class="mb-3">
                    <label class="custom-label"asp-for="UserData.RelationType"></label>
                    <select asp-for="UserData.RelationType" asp-items="Html.GetEnumSelectList<RelationTypeViewModel>()" class="form-control custom-border2 custom-select"></select>
                </div>

                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="text-center">
                    <button type="submit" class="custom-button2">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
