@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center center-div">
    <h1 style="font-size: 6em;">Oops!</h1>
    <h2 style="font-size: 4em; color: grey;" class="mb-5">Something went wrong...</h2>
    <div class="text-center">
        <a asp-controller="Home" asp-action="Index" class="custom-button2">Main page</a>
    </div>
</div>
