@model IEnumerable<PL.ViewModels.SurveyViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Дякую за проходження цього опитування</h1>
<h3>Результат прийде на вашу скриньку сьогодні опівночі</h3>

@Html.ActionLink("Повернутися на головну сторінку", "Index", "Survey")