@model PL.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .interest-card {
        width: 150px;
        border-radius: 1rem;
    }
</style>

<div id="card-container">
    @await Html.PartialAsync("PartialViews/_UserProfileCard", Model)
</div>