@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container center-div">
    <div class="row justify-content-center">
        <div class="col-md-8 py-3 px-5">
            <div class="text-center">
                <h1 class="display-4">Try a little bit later!</h1>
                <p class="lead">People with interests familiar with yours - ended</p>
            </div>
        </div>
    </div>
</div>